@import url(https://fonts.googleapis.com/css?family=Orbitron);

#logo {
  max-width: 960px;
  margin: 30px auto 0 auto;
}

.height {
  min-height: 300px;
}

.smallHeight {
  min-height: 40px;
}

#picture {
  line-height: 100%;
  vertical-align: center;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  line-height: 1.5;
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin-top: 50px;
}

.board {
  color: yellow;
  font-family: 'Orbitron', sans-serif;
  border: 2px dashed yellow;
  padding: 20px 5px;
}

footer {
  color: yellow;
  font-family: 'Orbitron', sans-serif;
  padding: 20px;
  margin: 10px auto;
}

.align-right {
  text-align: right;
}
